.pagination-container .pagination a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); }
.pagination-container .pagination a.selected {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); }

.slider .text-block {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=76); }

.gallery .small-images-list li .small-img {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); }

.large-gallery .large-gallery-container a img {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); }
.large-gallery .large-gallery-container.active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); }
