<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anton Semenov</title>
    <link href="../assets/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]>
    <link href="../assets/stylesheets/ie8.css" media="screen" rel="stylesheet" type="text/css">
    <![endif]-->
    <link href="../assets/lightgallery/src/css/lightgallery.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/lightgallery/src/css/lg-transitions.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/lightgallery/src/css/lg-fb-comment-box.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/owl.carousel.2.0.0-beta.2.4/assets/owl.carousel.css" media="screen" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/css3-mediaqueries.min.js"></script>
    <script src="../assets/javascripts/selectivizr-min.js"></script>
    <script src="../assets/javascripts/html5shiv.min.js"></script>
    <script src="../assets/javascripts/html5shiv-printshiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <section class="slider-section">
        <div class="slider">
            <div class="item">
                <div class="slider-img-container">
                    <img class="slider-img" src="../assets/images/slider/img1.jpg" alt="">
                </div>
                <div class="slider-wrapper">
                    <div class="contacts clearfix">
                        <div class="logo"></div>
                        <div class="phone">+ 7 921 942 02 94</div>
                    </div>
                    <div class="text-block">
                        Проведение любых видов
                        фотосъёмок в Москве
                        и Санкт-Петербурге
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img-container">
                    <img class="slider-img" src="../assets/images/slider/img2.jpg" alt="">
                </div>
                <div class="slider-wrapper">
                    <div class="contacts clearfix">
                        <div class="logo"></div>
                        <div class="phone">+ 7 921 942 02 94</div>
                    </div>
                    <div class="text-block">
                        Проведение любых видов
                        фотосъёмок в Москве
                        и Санкт-Петербурге
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img-container">
                    <img class="slider-img" src="../assets/images/slider/img3.jpg" alt="">
                </div>
                <div class="slider-wrapper">
                    <div class="contacts clearfix">
                        <div class="logo"></div>
                        <div class="phone">+ 7 921 942 02 94</div>
                    </div>
                    <div class="text-block">
                        Проведение любых видов
                        фотосъёмок в Москве
                        и Санкт-Петербурге
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-container">
            <div class="pagination"></div>
        </div>
    </section>
    <section class="about-me">
        <div class="header-container">
            <div class="big-header">Обо мне</div>
        </div>
        <div class="block-wrapper clearfix">
            <div class="photo"></div>
            <table class="advantages-table">
                <tr>
                    <td>
                        <ul class="advantages-list">
                            <li>
                                <div class="number one"></div>
                                <div class="advantage-name">Профессиональное
                                    оборудование</div>
                                <div class="advantage-description">для любых видов съёмок</div>
                            <li>
                                <div class="number two"></div>
                                <div class="advantage-name">Богатый опыт</div>
                                <div class="advantage-description">более 15 проектов<br>
                                    каждый месяц</div>
                            <li>
                                <div class="number three"></div>
                                <div class="advantage-name">Ценю ваше время</div>
                                <div class="advantage-description">работаю качественно,
                                    в короткие сроки</div>
                            <li>
                                <div class="number four"></div>
                                <div class="advantage-name">Несколько
                                    жанров фотографии</div>
                                <div class="advantage-description">знаю особенности
                                    и детали каждого</div>
                            <li>
                                <div class="number five"></div>
                                <div class="advantage-name">Команда</div>
                                <div class="advantage-description">видеооператор,
                                    визажист, стилист</div>
                        </ul>
                    </td>
                    <td>
                        <ul class="advantages-list">
                            <li>
                                <div class="number four"></div>
                                <div class="advantage-name">Несколько
                                    жанров фотографии</div>
                                <div class="advantage-description">знаю особенности
                                    и детали каждого</div>
                            <li>
                                <div class="number five"></div>
                                <div class="advantage-name">Команда</div>
                                <div class="advantage-description">видеооператор,
                                    визажист, стилист</div>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <section class="partners">
        <div class="big-header">Партнеры и друзья</div>
        <div class="block-wrapper">
            <ul class="partners-list first">
               <li class="slimtech">
                   <a href=""></a>
                <li class="pmi">
                    <a href=""></a>
                <li class="gallery">
                    <a href=""></a>
                <li class="comedy">
                    <a href=""></a>
            </ul>
            <ul class="partners-list second">
                <li class="lamoda">
                    <a href=""></a>
                <li class="yug">
                    <a href=""></a>
                <li class="ginza">
                    <a href=""></a>
                <li class="invasion">
                    <a href=""></a>
            </ul>
            <ul class="partners-list third">
                <li class="backstage">
                    <a href=""></a>
                <li class="almazova">
                    <a href=""></a>
                <li class="nova-arena">
                    <a href=""></a>
                <li class="krznt">
                    <a href=""></a>
            </ul>
        </div>
    </section>
    <section class="wedding">
        <div class="block-wrapper clearfix">
            <article class="section-description">
                <div class="big-header">Свадебная <span>фотосъемка</span></div>
                <div class="articles clearfix">
                    <div class="offer">
                        <div class="offer-name">Что я делаю:</div>
                        <ul class="offer-list">
                            <li>Консультирую и прорабатываю маршрут для фотосессии
                            <li>Осуществляю постановочную и репортажную съёмку
                            <li>Обрабатываю весь отснятый материал (цветокоррекция)
                            <li>Ретуширую лучшие фотографии
                            <li>Отдаю весь материал на USB- носителе в дизайнерской упаковке
                        </ul>
                    </div>
                    <div class="offer right">
                        <div class="offer-name">Cпецпредложение:</div>
                        <ul class="offer-list">
                            <li>При заказе полного свадебного дня вы получаете <span>скидку 30% на съёмку love story и
                                комплект фотографий для родителей</span> на USB-носителе в дизайнерской упаковке.
                        </ul>
                        <a href="#" class="btn">Заказать</a>
                    </div>
                </div>
            </article>
            <article class="gallery">
                <div class="big-img-container">
                    <div class="bg"></div>
                    <img src="../assets/images/wedding/big1.jpg" alt="wedding" class="big-img vertical">
                </div>
                <div class="small-images-container">
                    <ul class="small-images-list owl-carousel">
                        <li><img src="../assets/images/wedding/big1.jpg" alt="wedding" class="small-img current vertical">
                        <li><img src="../assets/images/wedding/big2.jpg" alt="wedding" class="small-img">
                        <li><img src="../assets/images/wedding/big3.jpg" alt="wedding" class="small-img">
                        <li><img src="../assets/images/wedding/big4.jpg" alt="wedding" class="small-img vertical">
                        <li><img src="../assets/images/wedding/big5.jpg" alt="wedding" class="small-img">
                        <li><img src="../assets/images/wedding/big6.jpg" alt="wedding" class="small-img">
                        <li><img src="../assets/images/wedding/big7.jpg" alt="wedding" class="small-img">
                        <li><img src="../assets/images/wedding/big8.jpg" alt="wedding" class="small-img">
                        <li><img src="../assets/images/wedding/big9.jpg" alt="wedding" class="small-img vertical">
                        <li><img src="../assets/images/wedding/big10.jpg" alt="wedding" class="small-img">
                        <li><img src="../assets/images/wedding/big11.jpg" alt="wedding" class="small-img">
                    </ul>
                </div>
            </article>
        </div>
    </section>
    <section class="report">
        <div class="block-wrapper clearfix">
            <article class="section-description">
            <div class="articles">
                <div class="big-header">Репортажная <span>съемка</span></div>
                <div class="offer">
                    <ul class="offer-list">
                        <li>Конференции
                        <li>Корпоративы
                        <li>Дни рождения
                        <li>Брейдинг
                        <li>Концерты
                    </ul>
                    <a class="btn" href="">Заказать</a>
                </div>
            </div>
            </article>
            <article class="gallery">
                <div class="big-img-container">
                    <div class="bg"></div>
                    <img src="../assets/images/report/big1.jpg" alt="report" class="big-img vertical">
                </div>
                <div class="small-images-container">
                    <ul class="small-images-list">
                        <li><img src="../assets/images/report/big1.jpg" alt="report" class="small-img vertical current">
                        <li><img src="../assets/images/report/big2.jpg" alt="report" class="small-img">
                        <li><img src="../assets/images/report/big3.jpg" alt="report" class="small-img">
                        <li><img src="../assets/images/report/big4.jpg" alt="report" class="small-img">
                        <li><img src="../assets/images/report/big5.jpg" alt="report" class="small-img vertical">
                        <li><img src="../assets/images/report/big6.jpg" alt="report" class="small-img">
                        <li><img src="../assets/images/report/big7.jpg" alt="report" class="small-img">
                        <li><img src="../assets/images/report/big8.jpg" alt="report" class="small-img">
                    </ul>
                </div>
            </article>
        </div>
    </section>
    <section class="ads">
        <div class="block-wrapper clearfix">
            <article class="section-description">
                <div class="big-header">Рекламная <span>съемка</span></div>
                <div class="articles clearfix">
                    <div class="offer">
                        <div class="offer-name">Процесс работы:</div>
                        <ul class="offer-list">
                            <li>Обсуждаем проект
                            <li>Рассчитываем бюджет и предоставляем <span>прозрачную</span> смету
                            <li>Проводим пробную съёмку <span>бесплатно</span>
                            <li>Приступаем к основной съёмке
                        </ul>
                    </div>
                    <div class="offer right">
                        <div class="offer-name">Виды услуг:</div>
                        <ul class="offer-list">
                            <li><span>Съёмка для рекламы</span>
                            <li><span>Лукбуки, кампейны</span>
                            <li><span>Съёмки для меню </span>
                            <li><span>Съёмки для календаре</span>
                        </ul>
                        <a href="#" class="btn">Заказать</a>
                    </div>
                </div>
            </article>
            <article class="gallery">
                <div class="big-img-container">
                    <div class="bg"></div>
                    <img src="../assets/images/_r_/big1.jpg" alt="ads" class="big-img vertical">
                </div>
                <div class="small-images-container">
                    <ul class="small-images-list">
                        <li><img src="../assets/images/_r_/big1.jpg" alt="_r_" class="small-img vertical active">
                        <li><img src="../assets/images/_r_/big2.jpg" alt="_r_" class="small-img">
                        <li><img src="../assets/images/_r_/big3.jpg" alt="_r_" class="small-img">
                        <li><img src="../assets/images/_r_/big4.jpg" alt="_r_" class="small-img">
                        <li><img src="../assets/images/_r_/big5.jpg" alt="_r_" class="small-img vertical">
                        <li><img src="../assets/images/_r_/big6.jpg" alt="_r_" class="small-img">
                        <li><img src="../assets/images/_r_/big7.jpg" alt="_r_" class="small-img">
                        <li><img src="../assets/images/_r_/big8.jpg" alt="_r_" class="small-img">
                    </ul>
                </div>
            </article>
        </div>
    </section>
    <section class="photoset">
        <div class="block-wrapper clearfix">
            <article class="section-description">
                <div class="articles">
                    <div class="big-header">Проведение <span>фотосессий</span></div>
                    <div class="offer">
                        <ul class="offer-list">
                            <li>Частная студийная и выездная фотосъёмка
                            <li>Съёмка актёрского портфолио
                            <li>Модельные тесты
                        </ul>
                        <a class="btn" href="">Заказать</a>
                    </div>
                </div>
            </article>
            <article class="gallery">
                <div class="big-img-container">
                    <div class="bg"></div>
                    <img src="../assets/images/photoset/big1.jpg" alt="report" class="big-img vertical">
                </div>
                <div class="small-images-container">
                    <ul class="small-images-list">
                        <li><img src="../assets/images/photoset/big1.jpg" alt="photoset" class="small-img vertical active">
                        <li><img src="../assets/images/photoset/big2.jpg" alt="photoset" class="small-img vertical">
                        <li><img src="../assets/images/photoset/big3.jpg" alt="photoset" class="small-img vertical">
                        <li><img src="../assets/images/photoset/big4.jpg" alt="photoset" class="small-img vertical">
                        <li><img src="../assets/images/photoset/big5.jpg" alt="photoset" class="small-img vertical">
                        <li><img src="../assets/images/photoset/big6.jpg" alt="photoset" class="small-img">
                        <li><img src="../assets/images/photoset/big7.jpg" alt="photoset" class="small-img vertical">
                        <li><img src="../assets/images/photoset/big8.jpg" alt="photoset" class="small-img">
                        <li><img src="../assets/images/photoset/big9.jpg" alt="photoset" class="small-img vertical">
                        <li><img src="../assets/images/photoset/big10.jpg" alt="photoset" class="small-img vertical">
                        <li><img src="../assets/images/photoset/big11.jpg" alt="photoset" class="small-img">
                    </ul>
                </div>
            </article>
        </div>
    </section>
    <section class="others">
        <div class="block-wrapper clearfix">
            <article class="section-description">
                <div class="articles">
                    <div class="big-header">Разное</div>
                    <div class="offer">
                        <div class="offer-name">Осуществляю различные виды съёмок:</div>
                        <ul class="offer-list">
                            <li>Концертную
                            <li>Семейную/детскую
                            <li>Предметную
                            <li>Food-фотография
                        </ul>
                        <a class="btn" href="">Заказать</a>
                    </div>
                </div>
            </article>
            <article class="gallery">
                <div class="big-img-container">
                    <div class="bg"></div>
                    <img src="../assets/images/others/big1.jpg" alt="report" class="big-img">
                </div>
            </article>
        </div>
    </section>
    <section class="large-gallery">
        <div id="lightgallery" class="large-gallery-container">
            <a href="../assets/images/photoset/big1.jpg">
                <img class="vertical" src="../assets/images/photoset/big1.jpg" />
            </a>
            <a href="../assets/images/photoset/big2.jpg">
                <img src="../assets/images/photoset/big2.jpg" />
            </a>
            <a href="../assets/images/photoset/big3.jpg">
                <img src="../assets/images/photoset/big3.jpg" />
            </a>
            <a href="../assets/images/photoset/big4.jpg">
                <img src="../assets/images/photoset/big4.jpg" />
            </a>
            <a href="../assets/images/photoset/big5.jpg">
                <img src="../assets/images/photoset/big5.jpg" />
            </a>
            <a href="../assets/images/photoset/big6.jpg">
                <img src="../assets/images/photoset/big6.jpg" />
            </a>
            <a href="../assets/images/photoset/big7.jpg">
                <img src="../assets/images/photoset/big7.jpg" />
            </a>
            <a href="../assets/images/photoset/big8.jpg">
                <img src="../assets/images/photoset/big8.jpg" />
            </a>
            <a href="../assets/images/photoset/big9.jpg">
                <img src="../assets/images/photoset/big9.jpg" />
            </a>
            <a href="../assets/images/photoset/big10.jpg">
                <img src="../assets/images/photoset/big10.jpg" />
            </a>
            <a href="../assets/images/photoset/big11.jpg">
                <img src="../assets/images/photoset/big11.jpg" />
            </a>
            <a href="../assets/images/wedding/big1.jpg">
                <img class="vertical" src="../assets/images/wedding/big1.jpg" />
            </a>
            <a href="../assets/images/wedding/big2.jpg">
                <img src="../assets/images/wedding/big2.jpg" />
            </a>
            <a href="../assets/images/wedding/big3.jpg">
                <img src="../assets/images/wedding/big3.jpg" />
            </a>
            <a href="../assets/images/wedding/big4.jpg">
                <img src="../assets/images/wedding/big4.jpg" />
            </a>
            <a href="../assets/images/wedding/big5.jpg">
                <img src="../assets/images/wedding/big5.jpg" />
            </a>
            <a href="../assets/images/wedding/big6.jpg">
                <img src="../assets/images/wedding/big6.jpg" />
            </a>
            <a href="../assets/images/wedding/big7.jpg">
                <img src="../assets/images/wedding/big7.jpg" />
            </a>
            <a href="../assets/images/wedding/big8.jpg">
                <img src="../assets/images/wedding/big8.jpg" />
            </a>
            <a href="../assets/images/report/big1.jpg">
                <img class="vertical" src="../assets/images/report/big1.jpg" />
            </a>
            <a href="../assets/images/report/big2.jpg">
                <img src="../assets/images/report/big2.jpg" />
            </a>
            <a href="../assets/images/report/big3.jpg">
                <img src="../assets/images/report/big3.jpg" />
            </a>
            <a href="../assets/images/report/big4.jpg">
                <img src="../assets/images/report/big4.jpg" />
            </a>
            <a href="../assets/images/report/big5.jpg">
                <img src="../assets/images/report/big5.jpg" />
            </a>
            <a href="../assets/images/report/big6.jpg">
                <img src="../assets/images/report/big6.jpg" />
            </a>
            <a href="../assets/images/report/big7.jpg">
                <img src="../assets/images/report/big7.jpg" />
            </a>
            <a href="../assets/images/report/big8.jpg">
                <img src="../assets/images/report/big8.jpg" />
            </a>
        </div>
    </section>
    <section class="geolocation">
        <div class="block-wrapper">
            <div class="big-header">География работ</div>
            <ul class="geo-list">
            <li class="geo">
                <div class="geo-image"></div>
                <div class="geo-description">Съемки <span>любого вида</span> в Санкт-петербурге, Москве</div>
            <li class="geo">
            <div class="geo-image"></div>
            <div class="geo-description">Свадебные съёмки за рубежом</div>
            </ul>
        </div>
    </section>
    <footer>
        <div class="block-wrapper">
            <div class="big-header">Свяжитесь со мной</div>
            <article class="contacts-block clearfix">
                <form action="" class="send-contacts" method="post" id="contacts-form">
                    <div class="form-wrapper">
                        <input type="text" name="name" placeholder="Ваше имя">
                        <input type="text" name="phone" placeholder="Номер телефона">
                        <textarea name="message" placeholder="Ваше сообщение"></textarea>
                        <input type="submit" name="submit" value="Отправить">
                    </div>
                </form>
                <div class="contacts">
                    <div class="logo"></div>
                    <div class="line"></div>
                    <div class="phone">+ 7 921 942 02 94</div>
                    <div class="email">info@semenovanton.com</div>
                    <ul class="social-list">
                        <li><a class="social-btn fb" href=""></a>
                        <li><a class="social-btn inst" href=""></a>
                        <li><a class="social-btn vk" href=""></a>
                    </ul>
                    <div class="line"></div>
                    <div class="subscribe">Чтобы первыми узнавать о выгодных
                        предложениях, <a href="#">нажмите здесь</a></div>
                </div>
            </article>
        </div>
    </footer>
    <script src="../assets/javascripts/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="../assets/lightgallery/src/js/lightgallery.js"></script>
    <script src="../assets/lightgallery/src/js/lg-thumbnail.js"></script>
    <script src="../assets/lightgallery/src/js/lg-autoplay.js"></script>
    <script src="../assets/lightgallery/src/js/lg-fullscreen.js"></script>
    <script src="../assets/javascripts/owl.carousel.min.js"></script>
    <script src="../assets/javascripts/main.js"></script>
</body>
</html>