$large-gallery-thumb-h: 58px;

.large-gallery {
  width: 100%;
  @include border-box;
  overflow-x: hidden;
  padding: 69px 75px;
  background: #000;
  .large-gallery-container {
    width: 100%;
    height: $large-gallery-thumb-h;
    overflow: hidden;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 5px;
      .small-img {
        opacity: .5;
        display: block;
        height: $large-gallery-thumb-h;
        width: auto;
        max-width: 100%;
        &.current {
          opacity: 1 !important;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}