.others {
  padding-top: 150px;
  padding-bottom: 160px;
  position: relative;
  .block-wrapper {
    width: $middle-screen-wrapper;
  }
  .articles {
    float: right;
    width: 460px;
    .offer {
      width: 460px;
    }
    .btn {
      margin-top: 58px;
    }
  }
  .gallery {
    float: left;
  }
  .big-header {
    margin-top: 20px;
    text-align: left;
    span {
      display: block;
    }
    margin-bottom: 50px;
  }
  @media (min-width: $middle-screen) {
    &:before {
      position: absolute;
      height: 1px;
      width: 569px;
      background: #000;
      top: 245px;
      right: 0;
      content: "";
    }
    padding-bottom: 397px;
    .block-wrapper {
      width: 1400px;
    }
    .gallery {
      .big-img-container {
        .bg {
          width: 1000px;
          left: -120px;
          top: 33px;
        }
      }
    }
  }
}