.photoset {
  padding-top: 50px;
  padding-bottom: 150px;
  position: relative;
  .block-wrapper {
    width: $middle-screen-wrapper;
  }
  .articles {
    float: left;
    width: 450px;
    .btn {
      margin-top: 58px;
    }
    .offer {
      width: 450px;
    }
  }
  .gallery {
    float: right;
  }
  .big-header {
    margin-top: 70px;
    text-align: left;
    span {
      display: block;
    }
    margin-bottom: 50px;
  }
  @media (min-width: $middle-screen) {
    padding-bottom: 297px;
    &:before {
      position: absolute;
      height: 1px;
      width: 319px;
      background: #000;
      top: 125px;
      left: 0;
      content: "";
    }
    .block-wrapper {
      width: 1478px;
    }
    .gallery {
      .big-img-container {
        .bg {
          right: -200px;
          width: 660px;
          top: 360px;
        }
        .second-bg {
          top: 169px;
          width: 660px;
          left: -272px;
        }
      }
    }
  }
}