.wedding {
  position: relative;
  padding-top: 71px;
  padding-bottom: 100px;
  .block-wrapper {
    width: $middle-screen-wrapper;
  }
  .section-description {
    margin: 0 auto;
    width: 876px;
    .big-header {
      margin-bottom: 69px;
    }
  }
  .gallery {
    margin: 70px auto 0;
  }
  .offer {
    .btn {
      margin-top: 41px;
      display: inline-block;
    }
  }
  @media (min-width: $middle-screen) {
    &:before {
      position: absolute;
      height: 1px;
      width: 569px;
      background: #000;
      top: 135px;
      right: -135px;
      content: "";
    }
    .big-header {
      text-align: left;
      span {
        display: block;
      }
    }
    .block-wrapper {
      width: 1680px;
    }
    .section-description {
      padding-left: 82px;
      @include border-box;
      margin: 0;
      float: right;
      .big-header {
        @include border-box;
      }
    }
    .articles {
      @include border-box;
    }
    .gallery {
      margin: 70px 0 0 0;
      float: left;
    }
    padding-bottom: 300px;
  }
}